<div class="container">
  <form class="add-form row my-5">
    <h2 class="col px-5">Add Journalist to Press List</h2>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <input
          id="add-first-name"
          class="form-control-lg mb-3 form-input"
          name="add-first-name"
          placeholder="First Name"
        />
        <input
          id="add-last-name"
          class="form-control-lg mb-3 form-input"
          name="add-last-name"
          placeholder="Last Name"
        />
        <input
          id="add-email"
          class="form-control-lg mb-3 form-input"
          name="add-email"
          placeholder="Email"
        />
      </div>
      <div class="col-md-6">
        <input
          id="add-city"
          class="form-control-lg mb-3 form-input"
          name="add-city"
          placeholder="City"
        />
        <input
          id="add-company"
          class="form-control-lg mb-3 form-input"
          name="add-company"
          placeholder="Company"
        />
        <button type="submit" id="add-btn" class="btn form-control-lg mb-3">Add
          Journalist</button>
      </div>
    </div>
  </form>

  <form class="search-form row mt-5">
    <h2 class="col px-5">Search for Journalists</h2>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <input
          id="search-first-name"
          class="form-control-lg mb-3 form-input"
          name="search-first-name"
          placeholder="First Name"
        />
        <input
          id="search-last-name"
          class="form-control-lg mb-3 form-input"
          name="search-last-name"
          placeholder="Last Name"
        />
        <input
          id="search-email"
          class="form-control-lg mb-3 form-input"
          name="search-email"
          placeholder="Email"
        />
      </div>
      <div class="col-md-6 ui-widget">
        <input
          id="search-city"
          class="form-control-lg mb-3 form-input"
          name="search-city"
          placeholder="City"
        />
        <input
          id="search-company"
          class="form-control-lg mb-3 form-input"
          name="search-company"
          placeholder="Company"
        />
        <button
          type="submit"
          id="search-btn"
          class="btn form-control-lg mb-3"
        >Search</button>
      </div>
    </div>
  </form>

</div>

<script src="/javascript/add-journalist.js"></script>
<script src="/javascript/search.js"></script>
<script src="/javascript/auto-complete.js"></script>