<div class="container">
  <form class="add-form row">
    <h3 class="col-12">Add Journalist to Press List</h3>
    <div class="row">
      <div class="col-md-6">
        <input
          id="add-first-name"
          class="col-10 form-control-lg mb-3"
          name="add-first-name"
          placeholder="First Name"
        />
        <input
          id="add-last-name"
          class="col-10 form-control-lg mb-3"
          name="add-last-name"
          placeholder="Last Name"
        />
        <input
          id="add-email"
          class="col-10 form-control-lg mb-3"
          name="add-email"
          placeholder="Email"
        />
      </div>
      <div class="col-md-6">
        <input
          id="add-city"
          class="col-10 form-control-lg mb-3"
          name="add-city"
          placeholder="City"
        />
        <input
          id="add-company"
          class="col-10 form-control-lg mb-3"
          name="add-company"
          placeholder="Company"
        />
        <button
          type="submit"
          id="add-btn"
          class="col-10 form-control-lg mb-3"
        >Search</button>
      </div>
    </div>
  </form>

  <form class="search-form row">
    <h3 class="col-12">Search for Journalists</h3>
    <div class="row">
      <div class="col-md-6">
        <input
          id="search-first-name"
          class="col-10 form-control-lg mb-3"
          name="search-first-name"
          placeholder="First Name"
        />
        <input
          id="search-last-name"
          class="col-10 form-control-lg mb-3"
          name="search-last-name"
          placeholder="Last Name"
        />
        <input
          id="search-email"
          class="col-10 form-control-lg mb-3"
          name="search-email"
          placeholder="Email"
        />
      </div>
      <div class="col-md-6">
        <input
          id="search-city"
          class="col-10 form-control-lg mb-3"
          name="search-city"
          placeholder="City"
        />
        <input
          id="search-company"
          class="col-10 form-control-lg mb-3"
          name="search-company"
          placeholder="Company"
        />
        <button
          type="submit"
          id="search-btn"
          class="col-10 form-control-lg mb-3"
        >Search</button>
      </div>
    </div>
  </form>

</div>

<script src="/javascript/add-journalist.js"></script>
<script src="/javascript/search.js"></script>