<div class="container">
  <form class="add-form row">
    <h3 class="col-12">Add Journalist to Press List</h3>
    <div class="row">
      <div class="col-md-6">
        <input
          id="add-first-name"
          name="add-first-name"
          placeholder="First Name"
        />
        <input
          id="add-last-name"
          name="add-last-name"
          placeholder="Last Name"
        />
        <input id="add-email" name="add-email" placeholder="Email" />
      </div>
      <div class="col-md-6">
        <input id="add-city" name="add-city" placeholder="City" />
        <input \ id="add-company" name="add-company" placeholder="Company" />
        <button type="submit" id="add-btn">Search</button>
      </div>
    </div>
  </form>

  <form class="search-form row">
    <h3 class="col-12">Search for Journalists</h3>
    <div class="row">
      <div class="col-md-6">
        <input
          id="search-first-name"
          name="search-first-name"
          placeholder="First Name"
        />
        <input
          id="search-last-name"
          name="search-last-name"
          placeholder="Last Name"
        />
        <input id="search-email" name="search-email" placeholder="Email" />
      </div>
      <div class="col-md-6">
        <input id="search-city" name="search-city" placeholder="City" />
        <input
          id="search-company"
          name="search-company"
          placeholder="Company"
        />
        <button type="submit" id="search-btn">Search</button>
      </div>
    </div>
  </form>

</div>

<script src="/javascript/add-journalist.js"></script>
<script src="/javascript/search.js"></script>