<div class="row justify-center mt-5">
  <form class="change-username-form col-5">
    <h2 class="text-center mb-4 mt-5">Change Username</h2>
    <div class="row">
      <div class="col-12">
        <input
          type="text"
          id="new-username"
          class="form-control-lg my-2 form-input text-center"
          value="{{admin.username}}"5
        />
      </div>

      </div>
      <div class="col-12">
        <button
          type="submit"
          class="btn col-11 form-control-lg mb-2"
        >Submit</button>
      </div>
    </div>
  </form>
</div>

<div class="row justify-center mt-3">
  <form class="change-password-form col-5">
    <h2 class="text-center mb-4 mt-5">Change Password</h2>
    <div class="row">
      <div class="col-12">
        <input
          type="password"
          id="new-password"
          class="form-control-lg my-2 form-input text-center"
          placeholder="new password"
        />
      </div>
      <div class="col-12">
        <input
          type="password"
          id="confirm-password"
          class="form-control-lg my-2 form-input text-center"
          placeholder="confirm password"
        />
      </div>

      </div>
      <div class="col-12">
        <button
          type="submit"
          class="btn col-11 form-control-lg mb-2"
        >Submit</button>
      </div>
    </div>
  </form>
</div>

<script src="/javascript/update-admin.js"></script>
